In [6]:
import requests
import os
import shutil
import time

In [7]:
# Define a list of years to iterate through
years = list(range(1991,2024))

#  Collecting and processing historical NBA MVP standings data from 1991 to 2023.

In [7]:
# Define the URL pattern for basketball reference awards page
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

# Loop through each year
for year in years:
    # Construct the URL for the specific year
    url = url_start.format(year)
    
    # Send a request to the URL
    data = requests.get(url)
    
    # Write the HTML content to a file for the specific year
    with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/mvp/{}.html".format(year), 
              "w+", 
              encoding="utf-8") as f:
        f.write(data.text)
    
    # Sleep for 10 seconds to be polite to the website
    time.sleep(10)

In [8]:
# Import BeautifulSoup for HTML parsing
from bs4 import BeautifulSoup

In [4]:
# Read and parse the HTML for the year 1991
with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/mvp/1991.html") as f:
    page = f.read()
soup = BeautifulSoup(page, 'html.parser')

# Remove the header row from the HTML table
soup.find('tr', class_="over_header").decompose()

In [5]:
# Find the MVP table by its ID
mvp_table = soup.find_all(id="mvp")[0]

In [9]:
import pandas as pd

In [7]:
# Read the MVP table into a DataFrame for the year 1991
mvp_1991 = pd.read_html(str(mvp_table))[0]

In [8]:
mvp_1991.head(5)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,31.5,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,19.4,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,25.6,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,27.6,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,29.0,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225

In [11]:
# Create an empty list to store DataFrames for MVP data of all years
dfs = []

# Loop through each year
for year in years:
    # Read and parse the HTML for the specific year
    with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/mvp/{}.html".format(year)) as f:
        page = f.read()
        soup = BeautifulSoup(page, 'html.parser')
    
    # Remove the header row from the HTML table
    soup.find('tr', class_="over_header").decompose()
    
    # Find the MVP table by its ID
    mvp_table = soup.find_all(id="mvp")[0]
    
    # Read the MVP table into a DataFrame
    mvp_df = pd.read_html(str(mvp_table))[0]
    
    # Add a 'Year' column to the DataFrame
    mvp_df["Year"] = year
    
    # Append the DataFrame to the list of DataFrames
    dfs.append(mvp_df)

In [12]:
# Concatenate all DataFrames into one
mvps = pd.concat(dfs)
mvps.tail()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
8,9,Stephen Curry,34,GSW,0.0,5.0,1000,0.005,56,34.7,...,6.1,6.3,0.9,0.4,0.493,0.427,0.915,7.8,0.192,2023
9,10,Jimmy Butler,33,MIA,0.0,3.0,1000,0.003,64,33.4,...,5.9,5.3,1.8,0.3,0.539,0.350,0.850,12.3,0.277,2023
10,11,De'Aaron Fox,25,SAC,0.0,2.0,1000,0.002,73,33.4,...,4.2,6.1,1.1,0.3,0.512,0.324,0.780,7.4,0.146,2023
11,12T,Jalen Brunson,26,NYK,0.0,1.0,1000,0.001,68,35.0,...,3.5,6.2,0.9,0.2,0.491,0.416,0.829,8.7,0.175,2023
12,12T,Ja Morant,23,MEM,0.0,1.0,1000,0.001,61,31.9,...,5.9,8.1,1.1,0.3,0.466,0.307,0.748,6.0,0.148,2023

In [13]:
mvps.to_csv("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/mvps.csv")

In [14]:
mvps.columns

Index(['Rank', 'Player', 'Age', 'Tm', 'First', 'Pts Won', 'Pts Max', 'Share',
       'G', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS',
       'WS/48', 'Year'],
      dtype='object')

In [15]:
mvps[mvps.Rank == '1'][['Player', 'Age', 'PTS', 'TRB', 'AST', 'Year']]\
    .sort_values('PTS', ascending = False).head(5)

              Player  Age   PTS   TRB   AST  Year
0        Joel Embiid   28  33.1  10.2   4.2  2023
0       Kevin Durant   25  32.0   7.4   5.5  2014
0  Russell Westbrook   28  31.6  10.7  10.4  2017
0     Michael Jordan   27  31.5   6.0   5.5  1991
0      Allen Iverson   25  31.1   3.8   4.6  2001

# Scraping and organizing NBA players statistics for the seasons spanning from 1991 to 2023.

In [16]:
# Define the URL pattern for player statistics
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

# Fetch and save player statistics for the year 1991
url = player_stats_url.format(1991)
data = requests.get(url)
with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/player/1991.html", 
        "w+",
        encoding="utf-8") as f:
    f.write(data.text)

In [17]:
# it shows only first 17 rows of the table (we need to scroll the page)

In [18]:
# Import necessary libraries for web scraping with Selenium
import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [19]:
chromedriver_path = "C:/Users/stask/Documents/chromedriver-win64/chromedriver.exe"

# Create a ChromeDriverService instance
chrome_service = webdriver.ChromeService(executable_path=chromedriver_path)

# Create a Chrome WebDriver instance
driver = webdriver.Chrome(service=chrome_service)

In [20]:
# Fetch and save player statistics for the year 1991, scrolling to load all data
url = player_stats_url.format(1991)
driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")
time.sleep(10)
    
with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/player/{}.html".format(1991), "w+", encoding="utf-8") as f:
    f.write(driver.page_source)

In [21]:
# now there's written all the page

In [23]:
# Loop through each year to fetch and save player statistics, scrolling to load all data
for year in years:
    url = player_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(10)
    
    with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/player/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)
        time.sleep(10)

In [24]:
dfs = []
for year in years:
    with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/player/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [26]:
players = pd.concat(dfs)

In [27]:
players.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991

In [31]:
players.to_csv("players.csv")

# Gathering and formatting NBA team standings data from 1991 to 2023 for both Eastern and Western Conferences.

In [33]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [34]:
for year in years:
    time.sleep(10)
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    
    with open("C:/Users/stask/Desktop/Break into IT/SQL learning/NBA MVP Forecast & Analytics/team/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text)

In [35]:
# Create an empty list to store DataFrames for team statistics of all years
dfs = []

# Loop through each year
for year in years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    
    # Remove the header row from the HTML table for Eastern Conference
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    
    # Add a 'Year' column to the DataFrame
    e_df["Year"] = year
    
    # Rename the 'Eastern Conference' column to 'Team'
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    
    # Append the DataFrame to the list of DataFrames
    dfs.append(e_df)
    
    # Remove the header row from the HTML table for Western Conference
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    
    # Add a 'Year' column to the DataFrame
    w_df["Year"] = year
    
    # Rename the 'Western Conference' column to 'Team'
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    
    # Append the DataFrame to the list of DataFrames
    dfs.append(w_df)

In [36]:
teams = pd.concat(dfs)

In [37]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 0 to 17
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       1103 non-null   object
 1   L       1103 non-null   object
 2   W/L%    1103 non-null   object
 3   GB      1103 non-null   object
 4   PS/G    1103 non-null   object
 5   PA/G    1103 non-null   object
 6   SRS     1103 non-null   object
 7   Year    1103 non-null   int64
 8   Team    1103 non-null   object
dtypes: int64(1), object(8)
memory usage: 86.2+ KB

In [41]:
teams.tail(5)

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
13  51  31  .622     —  116.9  113.0   3.60  2023     Memphis Grizzlies*
14  42  40  .512   9.0  114.4  112.5   1.63  2023  New Orleans Pelicans*
15  38  44  .463  13.0  114.2  114.1  -0.14  2023       Dallas Mavericks
16  22  60  .268  29.0  110.7  118.6  -7.62  2023        Houston Rockets
17  22  60  .268  29.0  113.0  123.1  -9.82  2023      San Antonio Spurs

In [42]:
teams.to_csv("teams.csv")